---
layout: component
title: Meta copy
categories: components
tags:
- code
- visuals
description: To come
---

Meta copy is the content of meta tags in a page - keywords and description. Ideally, words from your meta copy should be repeated in the macro copy of your page. Apart from being clear, this may help the page ranking in search engines.

### Keywords
<p>Think of these as tags that help to categorise the content of a page. Ten or 12 is probably a good maximum number to have.</p>
<h3>Description</h3>
<p>Keep it brief - just describe what this page is about.</p>

<h3>Meta tags</h3>

#### EBI Content review
EMBL-EBI uses several special meta tags to help ensure content can owners can be updated, and that content is up to date.

<p><code class="block">
    &lt;meta name=&quot;ebi:owner&quot; content=&quot;John Doe&quot;&gt; &lt;!-- Who should be contacted about changes --&gt;
    <br/>
    &lt;meta name=&quot;ebi:review-cycle&quot; content=&quot;30&quot;&gt; &lt;!-- In days, how often should the content be reviewed --&gt;
    <br/>
    &lt;meta name=&quot;ebi:last-review&quot; content=&quot;2015-12-20&quot;&gt; &lt;!-- The last time the content was reviewed --&gt;
    <br/>
    &lt;meta name=&quot;ebi:expiry&quot; content=&quot;2016-01-20&quot;&gt; &lt;!-- When this content is no longer relevant --&gt;
</code></p>

<h4>Local masthead image and colour</h4>
<div class="row">
  <div class="columns medium-8">
    <p>You can use thesse to specify colours or imagery you'd like for the local masthead. You could achieve a similar look through CSS, but this method offers more reusability and allows for planned future expansion, such as dynamic selection.</p>

    <code class="block">
        &lt;meta name=&quot;ebi:localmasthead-color&quot; content=&quot;#091314&quot;&gt;
        <br/>
        &lt;meta name=&quot;ebi:localmasthead-image&quot; content=&quot;//ebiwd.github.io/EBI-Framework/images/backgrounds/embl-ebi-background-4.jpg&quot;&gt;
    </code>
  </div>

  <div class="small callout columns medium-4">
    <p><img src="https://ebiwd.github.io/EBI-Framework/images/backgrounds/training-yellow-4.jpg"></p>
    <p>To format your image, note the it will be alligned to the top-right of the local masthead, and you should account for wide screen displays.</p>
    Here are some recommended specs:
    <ul>
      <li>width: 2462px</li>
      <li>height: 322px</li>
    </ul>
  </div>

</div>
