---
layout: component
title: Usability
categories: components
tags:
- basic guidelines
- usability
description: A user experience consists of how a person feels. It is primarily made up of usability, branding, functionality and content.
---

<h3>How can I improve the usability of my website?</h3>
<p>This page gives you step-by-step information on how to improve the usability of your website.</p>
<h5>I am developing a new service or doing a redesign, what do I do?</h5>
<p>Follow these <a href="//www.ebi.ac.uk/sites/ebi.ac.uk/files/groups/vaughan_service_team/web_guidelines/ucd_process_guidelines.png">steps</a>:<br>
<br>
Stage 1. Vision and Define <br>
Stage 2. User Research <br>
Stage 3. Design <br>
Stage 4. Test <br>
Stage 5. Implement</p>
<p><a href="//www.ebi.ac.uk/web/guidelines/accessibility">Accessibility</a> issues should be considered throughout these steps.</p>
<h5>Stage 1: Vision and Define --&gt; scope of your project</h5>
<p>Within the team, we recommend that you put together a list of points that sum up the overall mission of the new design/redesign; refer to the <a href="//www.ebi.ac.uk/sites/ebi.ac.uk/files/groups/vaughan_service_team/web_guidelines/vision_define_sheet.doc">Vision and define (mission) template document<span class="link-doc"></span></a>. This includes questions to help you create a mission list for your project.&nbsp; You should contact <a href="mailto:es-request@ebi.ac.uk">es-request@ebi.ac.uk</a> and make sure your GTL has let the Directors' office know you are doing a redesign/ developing a new service</p>
<h5>Stage 2: User Research --&gt; characterise your users and their stories</h5>
<p>Gather some basic information: What do users want from the site?, What questions they have when coming the site?, (If a redesign) What are the current features that work well? (and where do users get stuck?)</p>
<p>To find out about users:</p>
<ul>
<li>
<p>conduct interviews to understand your users (by phone, email, surveys).&nbsp; Ask how, why and when would they use your service? You could include around 5-15 users at this point, to get a good idea - but speaking to as few as 2 or 3 can be helpful to get you thinking.</p>
</li>
</ul>
<ul>
<li>
<p>For a redesign, you could use web analytics statistics (link) for your pages. Check your help files and past user requests and try to understand your users' profiles from these.</p>
</li>
<li>
<p>Summarise the feedback you have gathered, and use this to create a user profile (or 2 or 3) see <a href="//www.ebi.ac.uk/sites/ebi.ac.uk/files/groups/vaughan_service_team/web_guidelines/EBI_persona_template.doc">template<span class="link-doc"></span></a> and <a href="//www.ebi.ac.uk/sites/ebi.ac.uk/files/groups/vaughan_service_team/web_guidelines/EBI_persona_Abi.docx">example</a> (yours do not need to be as elaborate as this but you need to know basic use cases with examples). Templates for you to download and use for user profiles (aka 'personas') are here: <a href="//www.ebi.ac.uk/seqdb/confluence/download/attachments/16584495/personas.zip?version=1&amp;modificationDate=1325764746000">blank persona template</a></p>
</li>
</ul>
<h5>Stage 3: Design --&gt; basic mock-ups / wireframes</h5>
<p>Once you have some ideas from user research and your user profiles - start sketching visual designs/ mock-ups for your site. Specifications/mock-ups should be shown to the web team before implementation (email <a href="mailto:es-request@ebi.ac.uk">es-request@ebi.ac.uk</a> to make a time).&nbsp;</p>
<p>Check out the competition: are there already similar services available elsewhere?&nbsp; Take a look at their websites and review what are they doing.&nbsp; Borrow good ideas.&nbsp; Try to create screens for the different layers of your site - focusing on the ones you expect to receive the most traffic first. Use mock-up software, like Balsamiq (example shown below) or PowerPoint. You can even just draw them on paper, see example.&nbsp; Note Balsamiq is a commercial software so you need to buy a license (<a href="http://www.balsamiq.com" rel="nofollow">http://www.balsamiq.com</a>).&nbsp;</p>
<p>Card sorting can help you design navigation and menus. For example, if you need to decide which data items to group together into a particular section, then card sorting helps you see how to groups things based on user expectations.&nbsp; See an example from <a href="http://www.optimalworkshop.com">OptimalSort</a>, a virtual card sorting service, for which EBI has an account (contact <a href="mailto:es-request@ebi.ac.uk">es-request@ebi.ac.uk</a>).</p>
<h5>Stage 4: Test and refine --&gt; usability testing&nbsp;</h5>
<p>Usability testing allows you to identify the problem areas of your design.&nbsp; It need not be elaborate and time-consuming to yield very useful results, but there are do's and don't's that you need to be aware of, in order to avoid biased results.&nbsp; For advice on how to run usability tests please contact the Web team (<a href="mailto:es-request@ebi.ac.uk">es-request@ebi.ac.uk</a>).&nbsp; Note usability testing is for a flow of steps through multiple webpage designs.&nbsp; It is NOT usually useful for a single page.</p>
<h6>How to run a usability test and process the results --&gt;&nbsp; What are the options?</h6>
<p>Option1: One-on-one testing (facilitator and user, sometimes with an observer, who may be the developer/designer)</p>
<ul>
<li>
<p>One user is watched as he/she answers questions and goes through the website.</p>
</li>
<li>
<p>This reveals difficult navigation in the current site (where users get stuck). It also shows places users want to click. Testing four or so users in this way can reveal major issues.</p>
</li>
</ul>
<p>Option 2: Prototype testing (participants, facilitator)</p>
<ul>
<li>
<p>Divide participants into two groups, have them do the same tasks with two prototypes (each group uses one prototype, and rate the ease of the task and time it took to complete). This allows direct comparison of two prototypes subjectively.</p>
</li>
</ul>
<p>Option 3: Remote 'virtual' user testing</p>
<p>&nbsp;</p>
<p>Paper prototyping (usability testing with paper mockups):</p>
<p><img src="//www.ebi.ac.uk/seqdb/confluence/download/attachments/16584495/worddaved6085aa426c3d6d140132b51e41d0e3.png?version=1&amp;modificationDate=1325761101000" height="365" width="495" alt="image" style="border: 0px;"></p>
<p>&nbsp;</p>
<h6>How can we find people to take part in usability testing?</h6>
<p>To run usability testing you need to contact potential participants in external organisations. We suggest you give potential participants a brief description of what you want to do, how long it will take, and why you are doing it.&nbsp; Offer an incentive to attract participants, such as lunch or token gifts like Amazon shopping vouchers, etc. EMBL policy states that participants may not be paid for their time.&nbsp; Suggestions for ways to find people to contact for usability testing are:</p>
<ul>
<li>
<p>Contact people who have submitted help requests to your service.</p>
</li>
<li>
<p>Contact authors of scientific papers who have cited the use of your resource.</p>
</li>
<li>
<p>Ask your team/group leader for contacts, names of collaborators or previous colleagues.</p>
</li>
<li>
<p>EBI's Industry Programme may be able to contact our industry partners on your behalf</p>
</li>
<li>
<p>Depending on the target audience, you may be able to speak to people at the Sanger Institute.</p>
</li>
</ul>
<h6>How long will it take to plan and run usability testing?</h6>
<p>It depends on the project, but it usually takes 3-4 days to prepare the materials.&nbsp; We suggest planning a whole day to do the testing if you are visiting an external site, but it is possible to do ad hoc usability testing in a canteen or coffee shop for tests at short notice.&nbsp; Analysis and feedback can take a week or so.</p>
<h6>Do I need to obtain consent from the participants?</h6>
<p>Yes.&nbsp; You can download the consent form template <a href="//www.ebi.ac.uk/sites/ebi.ac.uk/files/groups/vaughan_service_team/web_guidelines/EBI_media_consent_usability.doc">here<span class="link-doc"></span></a>.&nbsp; Contact the web team via <a href="mailto:es-request@ebi.ac.uk">es-request@ebi.ac.uk</a> to find out more.</p>
<h5>Stage 5: Implementation --&gt; stick to the styleguide!</h5>
<p>You must adhere to the EBI style guide. If you feel that your site has exceptional requirements and thus cannot follow the visual guidelines, then you need to contact <a href="mailto:es-request@ebi.ac.uk">es-request@ebi.ac.uk</a> as early as possible to discuss solutions.</p>

<h5>Downloads</h5>
<p>The following documents may be helpful, they have been referred to in the sections above:</p>
<ul>
<li>
<p><a href="//www.ebi.ac.uk/sites/ebi.ac.uk/files/groups/vaughan_service_team/web_guidelines/ucd_process_guidelines.png">Lifecycle diagram</a></p>
</li>
<li>
<p><a href="//www.ebi.ac.uk/sites/ebi.ac.uk/files/groups/vaughan_service_team/web_guidelines/EBI_persona_Abi.docx">User profile (persona) example</a></p>
</li>
<li>
<p><a href="//www.ebi.ac.uk/sites/ebi.ac.uk/files/groups/vaughan_service_team/web_guidelines/EBI_persona_template.doc">User profile (persona) template<span class="link-doc"></span></a></p>
</li>
<li>
<p><a href="//www.ebi.ac.uk/sites/ebi.ac.uk/files/groups/vaughan_service_team/web_guidelines/vision_define_sheet.doc">Vision and define (mission) template document<span class="link-doc"></span></a></p>
</li>
<li>
<p><a href="//www.ebi.ac.uk/sites/ebi.ac.uk/files/groups/vaughan_service_team/web_guidelines/EBI_media_consent_usability.doc">Usability testing consent form<span class="link-doc"></span></a></p>
</li>
</ul>