---
layout: component
title: Tags
categories: components
tags:
- labels
description: Evolved from a label, is a tag. Meant to be linked and used in sequence.
---

<p>
  <a href="#" class="tag">A linked tag</a>
  <a href="#" class="tag">A linked tag</a>
  <a href="#" class="tag secondary-background">A not-so-important linked tag</a>
  <a href="#" class="tag">A linked tag</a>
  <a href="#" class="tag">A linked tag</a>
</p>

<p>
  <span class="tag">Tags</span>
  <span class="tag">don't</span>
  <span class="tag">have to be</span>
  <span class="tag">links, but</span>
  <span class="tag">should never be alone</span>
  <span class="tag secondary-background">(and maybe non-links should be less colourful)</span>
</p>
