---
layout: component
title: Colors (EMBL-EBI)
categories: components
tags:
- colors
description: Core EMBL-EBI colors
---

<h2>Colour</h2>
<p>A consistent approach to using colour way is another way in which we can achieve a consistent EBI "look". You can use a standard reday-made colour palette that we provide or some projects may want to use a custom palette.</p>

<p>We provide these basic colour palettes that will be of use for many projects:</p>

<p>
<div class="row small-up-1 medium-up-2 large-up-3" data-equalizer>
  <div class="column ebi-background white-color" data-equalizer-watch>
    <p><h4 class="white-color">EBI Petrol</h4> The default. <br/><small>Found at css/theme-embl-petrol.css</small></p>
  </div>
  <div class="column services-background white-color" data-equalizer-watch>
    <p><h4 class="white-color">Services</h4> Close to EBI Petrol. <br/><small>Found at css/theme-ebi-services-about.css</small></p>
  </div>
  <div class="column research-background white-color" data-equalizer-watch>
    <p><h4 class="white-color">Research</h4> Green. <br/><small>Found at css/theme-ebi-research.css</small></p>
  </div>
  <div class="column training-background white-color" data-equalizer-watch>
    <p><h4 class="white-color">Training</h4> Golden. <br/><small>Found at css/theme-ebi-training.css</small></p>
  </div>
  <div class="column industry-background white-color" data-equalizer-watch>
    <p><h4 class="white-color">Industry</h4> Bright blue ocean. <br/><small>Found at css/theme-ebi-training.css</small></p>
  </div>
</div>
</p>

<p>You can call these colours directly with these colour and background-colour classes:</p>

<div class="callout"><pre>
.ebi-background { background: rgb(0,124,130); }
.services-background { background: rgb(2,100,105); }
.research-background { background: rgb(168,200,19); }
.training-background { background: rgb(233,180,0); }
.industry-background { background: rgb(0,134,180); }
.elixir-background { background: rgb(251,106,42); }
.white-background { background: rgb(255,255,255); }

.ebi-color { color: rgb(0,124,130); }
.services-color { color: rgb(2,100,105); }
.research-color { color: rgb(168,200,19); }
.training-color { color: rgb(233,180,0); }
.industry-color { color: rgb(0,134,180); }
.elixir-color { color: rgb(251,106,42); }
.white-color { color: rgb(255,255,255); }</pre></div>

<p>Note: we recommend using the RGB values (<a href="https://developer.mozilla.org/en-US/docs/Web/CSS/color_value#Browser_compatibility">support is near-universal</a>. The alpha, RGBA mode, is available from IE 9.)</p>

<h3>Roll your own colors</h3>

<p>If you wish to make your own colour palatte, see this set of directions <code>/css/theme-readme-custom.txt</code></p>
