---
layout: component
title: Related links box
categories: components
tags:
- links
- popular
description: Formerly the "popular" box
---

<h3 class="block-title">Releated</h3>

<ul>
  <li><a href="//wwwdev.ebi.ac.uk/about/news" class="icon icon-generic" data-icon="N">News </a></li>
  <li><a href="//wwwdev.ebi.ac.uk/about/jobs" class="icon icon-generic" data-icon="c">Jobs</a></li>
  <li><a href="http://www.embl.de/aboutus/index.html" class="icon icon-generic icon-c8" data-icon="&amp;">EMBL</a></li>
  <li><a href="//wwwdev.ebi.ac.uk/about/people" class="icon icon-generic" data-icon="C">People and groups </a></li>
  <li><a href="//wwwdev.ebi.ac.uk/services" class="icon icon-generic icon-c3" data-icon="(">Services</a></li>
  <li><a href="//wwwdev.ebi.ac.uk/training/online" class="icon icon-generic" data-icon="T">Train online</a></li>
  <li><a href="//wwwdev.ebi.ac.uk/support" class="icon icon-generic" data-icon="s">Support</a></li>
  <li><a href="//wwwdev.ebi.ac.uk/about/travel" class="icon icon-generic" data-icon="]">Visit us</a></li>
</ul>
