---
layout: component
title: Typography
categories: components
tags:
- typography
- writing
description: To come
---

<p>The default font used throughout the page is Helvetica Neue, and is implement through a web font loaded by <code>fonts.css</code>. This is done to reflect EMBL-wide branding.</p>

<p>Sizing of default text is done with <code>rem</code>; equivlent to 16px on 24px leading, or 12pt on 16pt leading.</p>

<p>For large narrative text areas, consider the CSS class <code>.serif</code> to use the "EB Garamond" font, which is also loaded by the font stylesheet. You can switch back to sans-serif styling with the class <code>.sans-serif</code>.</p>

<div class="callout">
  <h3>Headlines</h3>
  <h1>H1: HTML Heading 1</h1>
  <p>Reserved for use in the local header. 3rem, 36pt.</p>

  <h2>H2: HTML Heading 2</h2>
  <p>Use sparingly. Generally a max of one per URL, as the page title. 2.5rem, 30pt.</p>

  <h3>H3: HTML Heading 3</h3>
  <p>The standard section heading. 2rem, 24pt.</p>

  <h4>H4: HTML Heading 4</h4>
  <p>Use a sub heading. 1.5 rem, 18pt.</p>

  <h5>H5: HTML Heading 5</h5>
  <p>Sample paragraph. 1.25 rem, 15pt.</p>

  <h6>H6: HTML Heading 6</h6>
  <p>Sample paragraph. 1rem, 12pt.</p>
</div>

<h3>Quick index of styles</h3>

<p>With a variety of text comes the need for many formatting styles, use this table as a helper. Maybe you want to print it?</p>

<table>
  <thead>
    <tr>
      <th class="medium-2">Use</th>
      <th class="medium-6">Sample</th>
      <th>How to implement?</th>
    </tr>
  </thead>
  <tboyd>
    <tr>
      <td>Citations</td>
      <td><cite>Hi, I'm a <a href="#">citation</a>!</cite></td>
      <td>HTML <span class="code">&lt;cite&gt;</span> element</td>
    </tr>
    <tr>
      <td>Pullquotes</td>
      <td><blockquote>I'm being quouted here, or maybe just highlighted?</blockquote</td>
      <td>HTML <span class="code">&lt;blockquote&gt;</span> element. Consider combining with the grid classes and float-left or float-right for a highlight look.</td>
    </tr>
    <tr>
      <td>Small text</td>
      <td><span class="small">I'm so small.</span></td>
      <td>CSS class <code>.small</code></td>
    </tr>
    <tr>
      <td>Lead intro text</td>
      <td><span class="lead">I'm some intro text.</span></td>
      <td>CSS class <code>.lead</code></td>
    </tr>
    <tr>
      <td>Read more</td>
      <td><a href="#" class="readmore">Read more here</a></td>
      <td>CSS class <code>.readmore</code></td>
    </tr>
  </tbody>
</table>
