---
layout: component
title: Helper classes
categories: components
tags:
- code
- layout
description: To come
---

This grab bag of odds-and-ends classes will help you create a layout that works for your page's needs.

<table>
  <tr>
    <th>CSS Class</th>
    <th>Function</th>
  </tr>
  <tr>
    <td>.float-right</td>
    <td>right align element</td>
  </tr>
  <tr>
    <td>.float-left</td>
    <td>left align element</td>
  </tr>
  <tr>
    <td>.block</td>
    <td>set display to "block"</td>
  </tr>
  <tr>
    <td>.clear</td>
    <td>enable "clear" on the element</td>
  </tr>
  <tr>
    <td>.hide, .hidden</td>
    <td>set display to "none"</td>
  </tr>
</table>
