---
layout: component
title: Badges and buttons
categories: components
tags:
- buttons
- links
- atom
description: All buttons are badges, but not all badges are buttons
---

<p>The badge is one of the most common atoms in the ecosystem and has several variants.</p>

<h3>Basic badge</h3>
<a class="button" href="#">Sample</a>

<h4>Basic badge - tiny</h4>
<a class="button tiny" href="#">Sample</a>

<h3>Icon badge</h3>
<a class="button" href="#"><i class="icon icon-generic" data-icon="P"></i> Sample</a>
<a class="button" href="#">Sample to the right <i class="icon icon-generic" data-icon="P"></i></a>

<h3>Tile badge</h3>
<p>Square or rectangle, these badges command more visual attention.</p>
<a class="button" href="#"><h3 class="icon icon-generic white-color" data-icon="P"></h3> Sample</a>

<!-- <h3>Wormhole badge</h3>
<p>These are core to the Wormhole molecule and feature a prominent visual that links the user to another part of the site, or beyond.</p>
<a class="button" href="#">Sample</a> -->
