<!-- Tag based accordian menu derived partly from http://stackoverflow.com/a/21002505 -->
<h3><a{% if 'Components' == page.title %} class="is-current-page"{% endif %} href="{{site.baseurl}}/components">All components</a></h3>
{% capture tags %}
  {% for tag in site.tags %}
    {{ tag[0] }}
  {% endfor %}
{% endcapture %}

{% assign sortedtags = tags | split:' ' | sort %}
{% if sortedtags %}

  <ul class="menu vertical" data-accordion-menu>
    {% for tag in sortedtags %}
      <li>
        <a href="{{site.baseurl}}/tags#tag-{{tag|lowercase}}" class="">{{tag|capitalize}}</a>
        <ul class="menu vertical nested tag-list-{{tag|downcase}}">
          {% for post in site.tags[tag] %}
            <li><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
          {% endfor %}
        </ul> 
      </li>
    {% endfor %}
  </ul>
{% endif %}


<h4>See also</h4>
<p>These resources will help you engage and understand the EBI Framework.</p>
<ul class="menu vertical">
  <li class=""><a href="//github.com/ebiwd/EBI-Framework">Core framework repository <i class="icon icon-generic" data-icon="x"></i></a></li>
  <li class=""><a href="//ebiwd.github.io/EBI-Pattern-library/">Core framework documentations <i class="icon icon-generic" data-icon="x"></i></a></li>
  <li class=""><a href="//ebiwd.github.io/EBI-Pattern-library/sample-site/">Sample pages <i class="icon icon-generic" data-icon="x"></i></a></li>
</ul>
